.bctrl__main{
    text-align: center;
}
.burCtrl{
    padding: 5px;
    margin: auto;
    text-align: center;
    color: white;
    background-color: rgba(61, 50, 3, 0.664);
}

.burCtrl__span{
    padding: 5px;
    margin: 10px;
}

.burCtrl__a{
    margin: 20px;
}

.bcOrder{
    margin: 10px;
    padding: 10px;
    background: rgb(97, 59, 10);
    color: white;
}